@font-face {
    font-family: "goldplay-bold";
    src: local("goldplay-bold"),
        url(../fonts/Goldplay-Bold.otf) format("truetype");
}

@font-face {
    font-family: "DMSans-Regular";
    src: local("DMSans-Regular"),
        url(../fonts/DMSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "DMSans-Bold";
    src: local("DMSans-Bold"),
        url(../fonts/DMSans-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "DMSans-Medium";
    src: local("DMSans-Medium"),
        url(../fonts/DMSans-Medium.ttf) format("truetype");
}

body {
    a{
        text-decoration: none;
    }
    .container {
        max-width: 1100px;
    }

    .active{
        // color: #00A6BA !important;
    }

    .navbar {
        display: block;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9298768477006392) 36%, rgba(255,255,255,0) 100%); 

        .container {
            .navbar-brand {
                img {
                    width: 208px;
                }
            }

            .navbar-nav {
                .nav-item {
                    text-transform: uppercase;

                    .nav-link {
                        font-size: 14px;
                        font-family: "DMSans-Bold";
                    }

                    .nav-link.active {
                        font-size: 14px;
                        font-family: "DMSans-Bold";
                    }
                    .nav-link:hover {
                        color: #00A6BA;
                    }
                }
            }
        }
    }

    #myID {
        z-index: 100;
        .navbar{
            border-bottom: 2px solid #00A6BA;
            background: #fff;
        }
    }

    #hero {
        background: url('../image/hero/bg.jpg'); 
        background-size: cover;
        background-position: center;
        margin-top: -60px;

        .container {
            .hero-wrap {
                text-align: center;

                .img-wrap {
                    width: 100%;
                    display: block;
                    img {
                        max-width: 256px;
                        padding-top: 70px;
                    }
                }

                .img-wrap-mobile {
                    display: none;
                }


                h4 {
                    font-size: 32px;
                    font-family: "goldplay-bold";
                    background: -webkit-linear-gradient(#E9C860, #CA7610);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                h1 {
                    font-size: 48px;
                    font-family: "goldplay-bold";
                    background: -webkit-linear-gradient(#D878AC, #D51294);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .detail-hero {
                    .wrap {
                        max-width: 800px;
                        background: rgb(255,255,255);
                        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 34%, rgba(255,255,255,0.5) 65%, rgba(255,255,255,0) 100%); 

                        p {
                            font-size: 18px;
                            font-family: "DMSans-Regular";
                            line-height: 24px;
                            color: #6D1547;
                            padding: 20px 0;
                        }
                    }

                    .sponsor {
                        padding-bottom: 40px;

                        span {
                            font-size: 12px;
                            font-family: "DMSans-Regular";
                            color: #D865A3;
                        }

                        img {
                            width: 209px;
                            height: auto;
                        }
                    }

                    .movedown {
                        padding-bottom: 180px;

                        img {
                            width: 32px;
                            height: auto;
                        }

                    }
                }
            }
        }

        .overlay {
            height: 100%;
            position: relative;

            .gradient-bottom {
                width: 100%;
                height: 196px;
                position: absolute;
                bottom: 0px;
                background: rgb(255,255,255);
                background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9298768477006392) 36%, rgba(255,255,255,0) 100%); 
            }
        }
    }

    #timeline {
        .container {
            .img-hp {
                display: grid;
                width: 100%;
                height: 100%;
                align-items: center;

                img {
                    width: 225px;
                }
            }

            .wrap-timeline {
                h2 {
                    font-size: 24px;
                    font-family: "goldplay-bold";
                    color: #D865A3;
                }

                .line {
                    h5 {
                        img {
                            width: 24px;
                        }
                    }

                    .border-end {
                        border-color: #D51294 !important;
                        border-right-style: dashed !important;
                    }

                    .border-primary {
                        border-color: #D51294 !important;
                        border-right-style: dashed !important;
                    }
                }

                .contain {
                    .card {
                        border: unset;

                        .card-body {
                            .card-title {
                                font-size: 20px;
                                font-family: "goldplay-bold";
                                color: #1E1E1E;
                            }

                            .card-title-disabled {
                                font-size: 20px;
                                font-family: "goldplay-bold";
                                color: #979797 !important;
                            }

                            .card-text {
                                font-size: 16px;
                                font-family: "DMSans-Regular";
                                color: #5F6368;
                            }

                            .card-text-disabled {
                                font-size: 16px;
                                font-family: "DMSans-Regular";
                                color: #5F6368 !important;
                            }
                        }
                    }
                }

            }
        }
    }

    #about {
        background: url('../image/about/bg.png');
        background-size: cover;
        background-position: center;
        padding: 40px 0px;

        .container {
            padding-top: 40px;
            padding-bottom: 40px;

            iframe {
                border-radius: 12px;
                height: 100%;
            }

            .player {
                display: flex;
                flex-wrap: wrap;
                height: 100%;
                align-items: center;
            }

            .deskripsi {
                /* From https://css.glass */
                background: rgba(255, 255, 255, 0.2);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                border: 2px solid rgba(255, 255, 255, 0.3);
                border-radius: 12px;
                height: 100%;
                padding: 10px 20px;

                span {
                    font-size: 23px;
                    font-family: "DMSans-Bold";
                    color: #D51294;
                }

                p {
                    padding-top: 5px;
                    font-size: 14px;
                    font-family: "DMSans-Regular";
                    margin-bottom: 10px;
                    color: #292929;
                }

                .hadiah {
                    width: 100%;
                    display: flex;

                    img {
                        max-width: 272px;
                        height: auto;
                        margin-right: auto !important;
                        margin-left: auto !important;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                }

                .kirim-ide {
                    a {
                        a:link {
                            text-decoration: none;
                        }

                        a:visited {
                            text-decoration: none;
                        }

                        a:hover {
                            text-decoration: none;
                        }

                        a:active {
                            text-decoration: none;
                        }

                        button {
                            text-transform: uppercase;
                            background-color: #D51294;
                            border: unset;
                            font-size: 14px;
                            font-family: "DMSans-Regular";
                            display: inline-flex;
                            justify-content: center;
                            text-decoration: none;
                            width: 100%;

                            img {
                                width: 20px;
                                height: 20px;
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

    #footer {
        footer {
            background-color: #FFF1F2;

            .container-footer {
                border-bottom: 1px solid #D51294;
                padding: 20px 20px 10px 20px;

                .logo-footer {
                    width: 76px;
                    height: auto;
                    padding: 20px 0;
                }

                p {
                    font-size: 12px;
                    line-height: 17px;
                    color: #89727C;
                    font-family: "DMSans-Medium";
                }

                .connect-box {
                    align-items: flex-end !important;

                    .connect-wrap {
                        width: fit-content;
                        display: block;
                        text-align: center;
                        margin-bottom: 20px;

                        h5 {
                            font-size: 12px;
                            line-height: 16px;
                            font-family: "DMSans-Regular";
                            color: #89727C;
                        }
                    }
                }

                .list-unstyled {
                    display: flex;

                    .sosmed-icon {
                        width: 32px;
                        height: auto;
                        padding: 0 3px;
                    }
                }
            }

            .copy {
                font-size: 10px;
                line-height: 16px;
                font-family: "DMSans-Regular";
                color: #89727C;
            }

        }
    }
}

@media (min-width: 0px) and (max-width: 575px) {
    body {
        .navbar {
            padding-top: 15px;
            position: absolute;
            width: 100%;
            background: unset;
            .container {
                display: block;

                .navbar-brand {
                    img {
                        width: 208px;
                    }
                }

                .navbar-nav {
                    display: -webkit-box;
                    overflow-x: scroll;
                    margin-top: 10px;

                    .nav-item {
                        padding-right: 40px;
                        font-size: 16px;

                        .nav-link {
                            font-size: 14px;
                            font-family: "DMSans-Bold";
                        }

                        .nav-link.active {
                            font-size: 14px;
                            font-family: "DMSans-Bold";
                        }

                        .nav-link:hover {
                            color: #00A6BA;
                        }
                    }
                }
            }
        }

        // #myID {
        //     display: none;
        // }

        #hero {
            background: url('../image/hero/bg-mobile.png');
            background-size: cover;
            background-position: top;
            margin-top: 0px;

            .container {
                padding: 0px;
                .hero-wrap {
                    text-align: center;
                    padding-top: 110px;
                    .img-wrap {
                        display: none;
                    }
    
                    .img-wrap-mobile {
                        width: 100%;
                        display: block;
                        img {
                            max-width: 256px;
                        }
                    }
    
                    h4 {
                        font-size: 16px;
                        font-family: "goldplay-bold";
                        background: -webkit-linear-gradient(#E9C860, #CA7610);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    h1 {
                        font-size: 24px;
                        font-family: "goldplay-bold";
                        background: -webkit-linear-gradient(#D878AC, #D51294);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    .detail-hero {
                        .wrap {
                            width: 100%;
                            padding: 0 30px;

                            p {
                                font-size: 12px;
                                font-family: "DMSans-Regular";
                                line-height: 17px;
                                color: #6D1547;
                            }
                        }

                        .sponsor {
                            padding-bottom: 40px;

                            span {
                                font-size: 12px;
                                font-family: "DMSans-Regular";
                                color: #D865A3;
                            }

                            img {
                                width: 209px;
                                height: auto;
                            }
                        }

                        .movedown {
                            padding-bottom: 60px;

                            img {
                                width: 32px;
                                height: auto;
                            }

                        }
                    }
                }
            }

            .overlay {
                height: 100%;
                position: relative;
    
                .gradient-bottom {
                    width: 100%;
                    height: 56px;
                    position: absolute;
                    bottom: 0px;
                    background: rgb(255,255,255);
                    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9298768477006392) 36%, rgba(255,255,255,0) 100%); 
                }
            }
        }

        #about {
            background: url('../image/about/bg.png');
            background-size: cover;
            background-position: center;

            .container {
                padding-top: 40px;
                padding-bottom: 40px;

                iframe {
                    border-radius: 12px;
                    height: 100%;
                }

                .player {
                    display: flex;
                    flex-wrap: wrap;
                    height: 100%;
                    align-items: center;
                }

                .deskripsi {
                    /* From https://css.glass */
                    background: rgba(255, 255, 255, 0.2);
                    border-radius: 16px;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(5px);
                    -webkit-backdrop-filter: blur(5px);
                    border: 2px solid rgba(255, 255, 255, 0.3);
                    border-radius: 12px;
                    height: 100%;
                    padding: 10px 20px;
                    margin: 20px 0px;

                    span {
                        font-size: 23px;
                        font-family: "DMSans-Bold";
                        color: #D51294;
                    }

                    p {
                        padding-top: 5px;
                        font-size: 14px;
                        font-family: "DMSans-Regular";
                        margin-bottom: 10px;
                        color: #292929;
                    }

                    .hadiah {
                        width: 100%;
                        display: flex;

                        img {
                            max-width: 100%;
                            height: auto;
                            margin-right: auto !important;
                            margin-left: auto !important;
                            padding-top: 10px;
                            padding-bottom: 10px;
                        }
                    }

                    .kirim-ide {
                        a {
                            a:link {
                                text-decoration: none;
                            }

                            a:visited {
                                text-decoration: none;
                            }

                            a:hover {
                                text-decoration: none;
                            }

                            a:active {
                                text-decoration: none;
                            }

                            button {
                                text-transform: uppercase;
                                background-color: #D51294;
                                border: unset;
                                font-size: 14px;
                                font-family: "DMSans-Regular";
                                display: inline-block;
                                justify-content: center;
                                text-decoration: none;
                                width: 100%;

                                img {
                                    width: 20px;
                                    height: 20px;
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }

        #footer {
            footer {
                background-color: #FFF1F2;

                .container {
                    padding: 20px 20px 10px 20px;
                    text-align: center;

                    .logo-footer {
                        width: 76px;
                        height: auto;
                        padding: 20px 0;
                    }

                    p {
                        font-size: 12px;
                        line-height: 17px;
                        color: #89727C;
                        font-family: "DMSans-Medium";
                    }

                    .connect-box {
                        align-items: center !important;

                        .connect-wrap {
                            width: fit-content;
                            display: block;
                            text-align: center;
                            margin-bottom: 20px;

                            h5 {
                                font-size: 12px;
                                line-height: 16px;
                                font-family: "DMSans-Regular";
                                color: #89727C;
                            }
                        }
                    }

                    .list-unstyled {
                        display: flex;

                        .sosmed-icon {
                            width: 32px;
                            height: auto;
                            padding: 0 3px;
                        }
                    }
                }

                .copy {
                    font-size: 10px;
                    line-height: 16px;
                    font-family: "DMSans-Regular";
                    color: #89727C;
                    text-align: center;
                }

            }
        }
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    body {
        .navbar {
            padding-top: 15px;
            position: absolute;
            width: 100%;
            .container {
                display: block;

                .navbar-brand {
                    img {
                        width: 208px;
                    }
                }

                .navbar-nav {
                    display: -webkit-box;
                    overflow-x: scroll;
                    margin-top: 10px;

                    .nav-item {
                        padding-right: 40px;
                        font-size: 16px;

                        .nav-link {
                            font-size: 14px;
                            font-family: "DMSans-Bold";
                        }

                        .nav-link.active {
                            font-size: 14px;
                            font-family: "DMSans-Bold";
                        }

                        .nav-link:hover {
                            color: #00A6BA;
                        }
                    }
                }
            }
        }

        // #myID {
        //     display: none;
        // }

        #hero {
            background: url('../image/hero/bg.png');
            background-size: cover;
            background-position: center;
            margin-top: 0px;

            .container {
                .hero-wrap {
                    text-align: center;

                    .img-wrap {
                        width: 100%;
                        display: block;
                        img {
                            max-width: 256px;
                        }
                    }
    
                    .img-wrap-mobile {
                        display: none;
                    }


                    h4 {
                        font-size: 16px;
                        font-family: "goldplay-bold";
                        background: -webkit-linear-gradient(#E9C860, #CA7610);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    h1 {
                        font-size: 24px;
                        font-family: "goldplay-bold";
                        background: -webkit-linear-gradient(#D878AC, #D51294);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    .detail-hero {
                        .wrap {
                            max-width: 400px;

                            p {
                                font-size: 12px;
                                font-family: "DMSans-Regular";
                                line-height: 17px;
                                color: #6D1547;
                            }
                        }

                        .sponsor {
                            padding-bottom: 40px;

                            span {
                                font-size: 12px;
                                font-family: "DMSans-Regular";
                                color: #D865A3;
                            }

                            img {
                                width: 209px;
                                height: auto;
                            }
                        }

                        .movedown {
                            padding-bottom: 60px;

                            img {
                                width: 32px;
                                height: auto;
                            }

                        }
                    }
                }
            }

            .overlay {
                height: 100%;
                position: relative;
    
                .gradient-bottom {
                    width: 100%;
                    height: 56px;
                    position: absolute;
                    bottom: 0px;
                    background: rgb(255,255,255);
                    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9298768477006392) 36%, rgba(255,255,255,0) 100%); 
                }
            }
        }

        #about {
            background: url('../image/about/bg.png');
            background-size: cover;
            background-position: center;

            .container {
                padding-top: 40px;
                padding-bottom: 40px;

                iframe {
                    border-radius: 12px;
                    height: 100%;
                }

                .player {
                    display: flex;
                    flex-wrap: wrap;
                    height: 100%;
                    align-items: center;
                }

                .deskripsi {
                    /* From https://css.glass */
                    background: rgba(255, 255, 255, 0.2);
                    border-radius: 16px;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(5px);
                    -webkit-backdrop-filter: blur(5px);
                    border: 2px solid rgba(255, 255, 255, 0.3);
                    border-radius: 12px;
                    height: 100%;
                    padding: 10px 20px;
                    margin: 20px 0px;

                    span {
                        font-size: 23px;
                        font-family: "DMSans-Bold";
                        color: #D51294;
                    }

                    p {
                        padding-top: 5px;
                        font-size: 14px;
                        font-family: "DMSans-Regular";
                        margin-bottom: 10px;
                        color: #292929;
                    }

                    .hadiah {
                        width: 100%;
                        display: flex;

                        img {
                            max-width: 272px;
                            height: auto;
                            margin-right: auto !important;
                            margin-left: auto !important;
                            padding-top: 10px;
                            padding-bottom: 10px;
                        }
                    }

                    .kirim-ide {
                        a {
                            a:link {
                                text-decoration: none;
                            }

                            a:visited {
                                text-decoration: none;
                            }

                            a:hover {
                                text-decoration: none;
                            }

                            a:active {
                                text-decoration: none;
                            }

                            button {
                                text-transform: uppercase;
                                background-color: #D51294;
                                border: unset;
                                font-size: 14px;
                                font-family: "DMSans-Regular";
                                display: inline-block;
                                justify-content: center;
                                text-decoration: none;
                                width: 100%;

                                img {
                                    width: 20px;
                                    height: 20px;
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar {
        .navbar-nav {
            display: -webkit-box;

            .nav-item {
                .nav-link {
                    padding-right: var(--bs-navbar-nav-link-padding-x);
                    padding-left: var(--bs-navbar-nav-link-padding-x);
                }
            }
        }
    }
}