@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Space+Grotesk:wght@400;700&display=swap");
@font-face {
  font-family: sg-700;
  src: url(../fonts/SpaceGrotesk-Bold.ttf);
}
@font-face {
  font-family: sg-400;
  src: url(../fonts/SpaceGrotesk-Regular.ttf);
}
@font-face {
  font-family: q-400;
  src: url(../fonts/Questrial-Regular.ttf);
}
.sg-700 {
  font-family: sg-700;
}

.sg-400 {
  font-family: sg-400;
}

.q-400 {
  font-family: q-400;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #1B1E28;
}

a {
  text-decoration: none;
}

#showcase-hero {
  background: url("../images/bg-cover.jpg") no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 50px;
}
#showcase-hero h1 {
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 30px;
}
#showcase-hero p {
  font-family: sg-400;
  font-size: 18px;
  color: #ffffff;
}
#showcase-hero .btn-primary, #showcase-hero .btn-primary:focus {
  color: #1B1E28;
  background-color: #00B0BF;
  line-height: 17.86px;
  height: 50px;
  padding: 16px 20px;
  box-shadow: none;
  margin-bottom: 30px;
  border: none;
}
#showcase-hero h3 {
  font-family: sg-400;
  font-size: 14px;
}
#showcase-hero h3 a {
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
}
#showcase-hero img {
  width: 100%;
  max-width: 375px;
  margin-top: 70px;
}

#startup-logo {
  background-size: cover;
  background-position: top center;
}
#startup-logo .form-control {
  border: none !important;
}
#startup-logo .form-control:focus {
  box-shadow: none;
}
#startup-logo .btn-secondary {
  background: #00B0BF;
  border: none !important;
}
#startup-logo .swiper-container {
  overflow: visible;
}
#startup-logo .swiper-container .swiper-pagination {
  bottom: -30px;
}
#startup-logo .swiper-container .swiper-pagination-bullet {
  background: #ffffff;
}
#startup-logo .swiper-slide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}
#startup-logo .swiper-slide-active {
  opacity: 1;
  visibility: visible;
}
#startup-logo .swiper-slide-active + .swiper-slide {
  opacity: 1;
  visibility: visible;
}
#startup-logo .swiper-slide-active + .swiper-slide + .swiper-slide {
  opacity: 1;
  visibility: visible;
}
#startup-logo .swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide {
  opacity: 1;
  visibility: visible;
}
#startup-logo h1 {
  font-family: sg-700;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 30px;
}
#startup-logo .featured-startup {
  padding: 0.25rem;
  margin-bottom: 50px;
}
#startup-logo .box-logo {
  width: 100%;
  height: 150px;
  background: #ffffff;
  position: relative;
  border-radius: 8px;
}
#startup-logo .box-logo .startup-logo-img {
  width: auto;
  max-width: 150px;
  max-height: 85px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}
#startup-logo .box-logo:hover + .hovered {
  visibility: visible;
  position: absolute;
  display: block;
  padding: 20px;
  top: 0;
}
#startup-logo .hovered {
  visibility: hidden;
  background: #ffffff;
  border-radius: 8px;
  z-index: 99;
  position: absolute;
  top: 0;
  padding: 1rem;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
}
#startup-logo .hovered img {
  width: auto;
  max-width: 150px;
  max-height: 90px;
}
#startup-logo .hovered h1 {
  color: black;
  margin-bottom: 10px;
  border-top: 1px solid #071424;
  padding-top: 20px;
  font-size: 16px;
  font-family: "sg-700";
}
#startup-logo .hovered p {
  font-size: 12px;
  font-family: "sg-400";
}
#startup-logo .hovered .btn-primary {
  width: 100%;
  margin-bottom: 10px;
  background: #071424;
  border: none;
  font-family: "sg-700";
}
#startup-logo .hovered:hover {
  visibility: visible;
}
#startup-logo .pagination {
  margin-top: 30px !important;
}
#startup-logo .pagination a {
  background: none;
  border: 1px solid #00B0BF;
  width: 38px;
  height: 38px;
  border: radius 5px;
  font-family: sg-700;
  color: #00B0BF;
}
#startup-logo .pagination li.active {
  width: 38px;
  height: 38px;
  background: #00B0BF;
  border-radius: 5px;
}
#startup-logo .pagination li.active a {
  color: #1B1E28 !important;
}

@media screen and (max-width: 768px) {
  #showcase-hero {
    padding-top: 60px;
  }
  #showcase-hero h1 {
    font-size: 32px;
  }
  #startup-logo .input-group {
    margin-bottom: 30px;
  }
  .hovered p {
    margin-bottom: 15px;
  }
}/*# sourceMappingURL=showcase.css.map */