@import "../css/global.scss";
a{
    text-decoration: none !important;
}
// Navbar
#navbar, #navbar-2{
    background: #01091C;
    .navbar-brand{
        img{
            width: 100%;
            max-width: 182px;
        }
    }
    .navbar-collapse{
        .justify-content-center{
            .active{
                color: #00B0BF !important;
                &:hover{
                    color: $dark-blue !important;
                }
            }
            li{
                // padding: 10px 16px;
                padding-left: 16px;
                padding-right: 16px;
                padding-top: 5px;
                padding-bottom: 5px;
                border-radius: 8px;
                transition: 0.5s;
                &:hover, &:active{
                    background: #00B0BF !important;
                    color: $dark-blue !important;
                    a{
                        color: $dark-blue !important;
                    }
                    .dropdown-item{
                        background: #00B0BF !important;
                        color: $dark-blue !important;
                    }
                }
                a{
                    color: $white;
                    font-size: 14px;
                    text-align: center;
                }
            }
            li.dropdown{
                a.dropdown-toggle{
                    &::after{
                        display: none;
                    }
                }
            }
            .dropdown-menu{
                background: none;
                border: none;
                .dropdown-item{
                    background: #01091C;
                    border-radius: 8px;
                    border: 1px solid #00B0BF;
                    margin-top: 8px;
                    text-align: left;
                    overflow-wrap: break-word;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    transition: 0.3s;
                    a{
                        &:hover{
                            background: none;
                        }
                    }
                }
            }
        }
        .justify-content-end{
            li{
                border-radius: 8px;
                border: 1px solid #00B0BF;
                padding-left: 16px;
                padding-right: 16px;
                a{
                    color: #00B0BF;
                    font-size: 14px;
                    text-transform: uppercase;
                    text-align: center;
                }
            }
        }
        .navbar-toggler > .close {
            display: inline;
        }
 
        .navbar-toggler.collapsed > .close, .navbar-toggler:not(.collapsed) > .navbar-toggler-icon {
            display: none;
        }
    }
    
}

#cover{
    background: url(../images/bg-cover.jpg) no-repeat;
    background-size: cover;
    .mycontainer{
        padding-top: 230px;
        padding-left: 5%;
        padding-bottom: 263px;
        .cover-title-text, .cover-desc-text{
            color: $white;
            font-size: 14px;
        }
        .cover-text-box{
            max-width: 438px;
            .col-12{
                padding-left: 0;
                padding-right: 0;
            }
        }
        .cover-title-text{
            font-size: 32px;
            line-height: 36px;
            margin-bottom: 0;
        }
        .cover-theme-text{
            font-size: 48px;
            line-height: 60px;
            margin-top: 5px;
            margin-bottom: 0;
            color: #00B0BF;
            max-width: 367px;
        }
        .cover-cta{
            margin-top: 40px;
            .col-md-5{
                width: 40%;
                padding-right: 0;
                .btn-default{
                    background: $titanium;
                    color: $dark-blue;
                    font-size: 14px;
                    padding: 16px 20px;
                    border-radius: 5px;
                }
            }
            .col-md-7{
                width: 60%;
                padding-right: 0;
                padding-left: 0;
                .cover-desc-text{
                    font-size: 14px;
                    line-height: 17.86px;
                }
            }
        } 
    }
}

// Section About
#about{
    background: #1B1E28;
    padding-top: 100px;
    margin-top: -100px;
    .mycontainer{
        padding-top: 60px;
        padding-bottom: 70px;
        max-width: 1016px;
        margin: auto;
        margin-top: -70px;
        .l-content{
            max-width: 392px;
            .player-16_9{
                position: relative;
                width: 100%;
                padding-top: 56.25%;
                z-index: 1;
                iframe{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    max-width: 392px;
                    max-height: 220px;
                    top: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }
        }
        .r-content{
            .about-header{
                font-size: 20px;
                line-height: 25.52px;
                color: $white;
                margin-bottom: 15px;
            }
            .about-desc-text{
                font-size: 14px;
                line-height: 17.86px;
                color: $white;
                margin-bottom: 16px;
            }
            .about-hashtag{
                font-size: 18px;
                line-height: 22.97px;
                color: $white;
            }
            .about-socmed-share{
                margin-top: 16px;
                .about-socmed-share-text{
                    color: #F2F2F2;
                }
                a{
                    img{
                        margin-left: 16px;
                    }
                }
            }
        }
    }
}
// Section Sponsor
#sponsor{
    background: #404551;
    padding-top: 60px;
    padding-bottom: 60px;
    .mycontainer{
        max-width: 600px;
        margin: auto;
        .sponsor-header-text{
            font-size: 18px;
            line-height: 22.97px;
            color: $white;
            margin-bottom: 40px;
        }
        .btn-default{
            margin-top: 40px;
            background: #404551;
            padding: 16px 20px;
            font-size: 14px;
            color: $white;
            border-radius: 5px;
        }
    }
    .container-sponsor{
        .box-logo-sponsor{
            width: 100%;
            max-width: 175px;
            height: 85px;
            position: relative;
            background: $white;
            border-radius: 16px;
            .logo-sponsor-image{
                max-width: 130px;
                height: auto;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                max-height: 60px;
            }
        }
    }
}

// Section Banner Speakers
#speakers{
    .speakers-container{
        padding: 0;
        max-width: 1440px;
        margin: auto;
        img{
            width: 100%;
            max-width: 1440px;
            margin: auto;
        }
        .swiper-button-prev, .swiper-button-next{
            &::after{
                color: $white;
                font-size: 24px;
            }   
        }
        .swiper-button-prev{
            left: 30px;
        }
        .swiper-button-next{
            right: 30px;
        }
    }
}

// Section Ads
#adsbanner{
    background: $dark-blue;
    .mycontainer{
        padding-top: 60px;
        padding-bottom: 60px;
        .mobile-hide{
            img{
                width: 100%;
                max-width: 1118px;
            }   
        }
        .mobile-show{
            img{
                width: 100%;
                max-width: 376px;
            }   
        }
    }
}

// Section News
#news{
    position: relative;
    margin-bottom: 50px;
    .bg-news{
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
    .mycontainer{
        padding-top: 100px;
        .top-line{
            width: 100%;
            max-width: 80px;
            height: 0;
            border-top: 4px solid $titanium;
            margin-bottom: 10px;
        }
        .news-header{
            font-size: 36px;
            line-height: 36px;
            color: #00B0BF;
            margin-bottom: 32px;
        }
        .nav-pills{
            margin-bottom: 32px;
            li{
                background: #404551;
                margin-right: 8px;
                border-radius: 0;
                a{
                    color: #94A3B8;
                    font-size: 14px;
                }
                .active{
                    border-radius: 0;
                    background: #00B0BF;
                    color: $white;
                }
            }
        }
        .tab-content-area{
            padding-left: 0;
            padding-right: 0;
        }
        .article{
            margin: auto;
            .duration{
                position: absolute;
                background: rgba(0, 0, 0, 0.50);
                padding: 2px 5px;
                bottom: 0;
                right: 0;
                z-index: 1;
                .duration-time{
                    font-size: 12px;
                    color: #ffffff;
                    img{
                        width: 16px !important;
                        height: 16px !important;
                        margin-top: -4px;
                        margin-right: 4px;
                    }
                }
            }
            &:hover{
                .article-thumbnail{
                    img{
                        transform: scale(1.2);
                    }
                    .duration-time{
                        img{
                            transform: scale(1);
                        }
                    }
                }
                .article-data{
                    .article-title{
                        color: #00B0BF;
                    }
                }
            }
            .article-thumbnail{
                width: 100%;
                max-width: 238.66px;
                height: 153px;
                overflow: hidden;
                margin: auto;
                position: relative;
                img{
                    width: 100%;
                    max-width: 238.66px;
                    object-fit: cover;
                    transition: 1s;
                    height: 153px;
                }
            }
            .article-data{
                padding: 0;
                max-width: 238.66px;
                margin: auto;
                margin-top: 10px;
                .article-title{
                    font-size: 14px;
                    line-height: 20px;
                    color: $white;
                    margin-bottom: 0;
                    transition: 0.5s;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                }
                .article-date{
                    font-size: 12px;
                    line-height: 32px;
                    color: #999;
                }
            }
        }
        .index-btn{
            background: #00B0BF;
            padding: 16px 24px;
            color: $dark-blue;
            font-size: 16px;
            margin-top: 30px;
            border-radius: 0;
            img{
                width: 24px;
                margin-left: 8px;
                margin-top: -3px;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    #news{
        .article-thumbnail{
            height: 100px !important;
            img{
                height: 100px !important;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    // Navbar
    #navbar{
        .navbar-brand.w-50{
            width: 40% !important;
        }
        .navbar-brand{
            img{
                width: 100%;
                max-width: 120px;
            }
        }
        .navbar-collapse{
            .justify-content-center{
                li{
                    a{
                        font-size: 12px;
                    }
                }
            }
            .justify-content-end{
                li{
                    a{
                        font-size: 12px;
                    }
                }
            }
        }
    }  
    // Section Cover iPad
    #cover{
        .mycontainer{
            padding-top: 100px;
        }
    }
    // Section News
    #news{
        .article{
            margin-top: 30px !important;
        }
    }
}

@media screen and (max-width: 480px) {
   //Section Cover Mobile
    #cover{
        background: url(../images/bg-cover-mobile.jpg) no-repeat;
        background-size: cover;
        .mycontainer{
            padding-top: 73px;
            padding-bottom: 166px;
            .cover-text-box{
                .col-12{
                    padding-left: 1rem;
                    padding-right: 1.5rem;
                }
                .cover-title-text{
                    font-size: 16px;
                }
            }
            .cover-cta{
                .col-md-5{
                    width: 100%;
                }
                .col-md-7{
                    width: 100%;
                    padding-right: 15px;
                    padding-left: 15px;
                    margin-top: 20px;
                    .cover-desc-text{
                        max-width: 290px;
                    }
                } 
            }
        }
    }
    //Section About Mobile
    #about{
        margin-top: -1px;
        .mycontainer{
            padding-left: 20px;
            padding-right: 20px;
            .l-content{
                margin: auto;
                margin-bottom: 24px;
            }
        }
    }
    // Section Sponsor
    #sponsor{
        .container-sponsor{
            .box-logo-sponsor{
                max-width: 135px;
                height: 70px;
                .logo-sponsor-image{
                    max-width: 100px;
                    max-height: 40px;
                }
            }
        }
    }
    // Section Adsbanner
    #adsbanner{
        .mycontainer{
            padding-bottom: 0;
        }
    }
    // Section News
    #news{
        .mycontainer{
            padding-top: 60px;
            .nav-pills{
                margin-bottom: 0;
            }
            .tab-content-area{
                padding-left: 1rem;
                padding-right: 1rem;
            }
            .index-btn{
                padding: 10px;
                font-size: 14px;
                img{
                    max-width: 16px;
                    margin-left: 5px;
                    margin-top: -3px;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    // Section Sponsor
    #sponsor{
        .container-sponsor{
            .box-logo-sponsor{
                max-width: 120px !important;
                height: 60px !important;
                margin-left: 5px !important;
                margin-right: 5px !important;
                .logo-sponsor-image{
                    max-width: 80px !important;
                    max-height: 30px !important;
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {
    // Section Sponsor
    #sponsor{
        .container-sponsor{
            .box-logo-sponsor{
                max-width: 110px !important;
                height: 60px !important;
                margin-left: 5px !important;
                margin-right: 5px !important;
            }
        }
    }
}