@import "../css/global.scss";
.tnc-page{
    background: $dark-blue;
    #tnc{
        padding-top: 100px;
        padding-bottom: 100px;
        .mycontainer{
            .tnc-box{
                max-width: 700px;
                margin: auto;
                background: $white;
                border-radius: 16px;
                padding: 30px 20px;
                h1{
                    color: $dark-blue;
                    font-size: 32px;
                    line-height: 40.83px;
                    margin-bottom: 20px;
                }
                ol{
                    li{
                        color: $dark-blue;
                        font-size: 16px;
                        line-height: 19.2px;
                    }
                }
            }
        }
    }
}