/* Hero Element */

.hero {
  height: 100vh;
  background-image: url("../images/hero/hero-desktop-bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: none;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20vh;
  padding: 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff2de 100%);
}

.hero-content img {
  max-width: 390px;
}

.hero-desc {
  padding: 10px 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  color: white;
  background-color: #089b65;

  max-width: 650px;
}

.hero a {
  transition: all 0.2s ease;
}

.hero a:hover {
  background-color: rgb(255, 255, 255, 0.3);
}
.hero .overlay {
  z-index: 0;
}
.hero .hero-desc {
  z-index: 1;
}

@media (max-width: 576px) {
  .hero {
    background-image: url("../images/hero/hero-mobile-bg.svg");
  }

  /* .hero-content {
    max-width: 80%;
  } */

  .hero-desc {
    padding: 10px 16px;
    font-size: 16px;
  }
}

@media (max-height: 700px) {
  .hero-content img {
    max-width: 350px;
    margin-top: 50px;
  }
}
@media (max-height: 600px) {
  .hero-content img {
    max-width: 225px;
    margin-top: 50px;
  }

  .hero-desc {
    padding: 10px 16px;
    font-size: 12px;
  }
}
@media (max-height: 600px) {
  .hero-content img {
    max-width: 200px;
    margin-top: 50px;
  }

  .hero-desc {
    padding: 10px 16px;
    font-size: 10px;
  }
}
