#photo-gallery .gallery-swiper {
  width: 100%;
  height: 100%;
}

#photo-gallery .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

#photo-gallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

#photo-gallery .gallery-swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

#photo-gallery .swiper-slide {
  background-size: cover;
  background-position: center;
}

#photo-gallery .mySwiper2 {
  height: 560px;
  width: 100%;
}

#photo-gallery .mySwiper {
  box-sizing: border-box;
  padding: 10px 0;
}
#photo-gallery .swiper-wrapper {
  box-sizing: border-box;
}

#photo-gallery .mySwiper .swiper-slide {
  width: 25%;
  max-height: 100px;
  filter: brightness(0.3);
  border-radius: 12px;
  overflow: hidden;
}

#photo-gallery .mySwiper .swiper-slide-thumb-active {
  filter: brightness(1);
}

#photo-gallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#photo-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b4daf4;
}
#photo-gallery h1 {
  font-size: 40px;
  color: #d73e43;
}

[class^="swiper-button-"]::after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  padding: 0 2rem;
}

.pg-container {
  width: 100%;
}

@media (max-width: 997px) {
  #photo-gallery .mySwiper2 {
    height: 548px;
  }
  #photo-gallery .mySwiper img {
    height: 80px;
  }
  #photo-gallery h1 {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  #photo-gallery .mySwiper2 {
    height: 422px;
  }
  #photo-gallery .mySwiper img {
    height: 70px;
  }
  #photo-gallery .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  #photo-gallery h1 {
    font-size: 36px;
  }
}
@media (max-width: 576px) {
  #photo-gallery .mySwiper2 {
    height: 316px;
  }
  #photo-gallery .mySwiper img {
    height: 60px;
  }
}
@media (max-width: 460px) {
  #photo-gallery .mySwiper2 {
    height: 181px;
  }
  #photo-gallery .mySwiper img {
    height: 50px;
  }
  #photo-gallery h1 {
    font-size: 24px;
  }
}
