#aggregator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff3e5;
}
#aggregator h1 {
  color: #d73e43;
  font-size: 40px;
}

#aggregator .aggregator-card {
  min-width: 320px;
}
#aggregator .aggregator-card .img-container {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 20px;
}
#aggregator .aggregator-card .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: all 0.2s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
#aggregator .aggregator-card:hover .img-container img {
  transform: scale(1.2);
}
#aggregator .aggregator-card:hover {
  cursor: pointer;
}

#aggregator .aggregator-card h4 {
  color: #5477b5;
  font-weight: 600;
  font-size: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: color 0.2s ease-out;
}
#aggregator .aggregator-card:hover h4 {
  color: #274d6e;
}

#aggregator .aggregator-card-content span {
  color: #474747;
  font-size: 14px;
}

.aggregator-card {
  padding: 1rem;
}

.aggregator-card-content {
  margin-top: 0.75rem;
}
.aggregator-card-content h4 {
  margin-bottom: 0.75rem;
  font-size: 300;
}

.video-duration-container {
  position: absolute;
  top: 0;
  right: 0;
}
.video-duration {
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
}

.tab-content > .active {
  display: flex;
}

#aggregator .nav-item {
  background-color: #f0d6b7;
  max-width: 160px;
  width: 100%;
}
#aggregator .nav-item button {
  padding: 12px 20px;
  width: 100%;
}

.nav-link {
  color: #f0952b;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: white;
  background-color: #f0952b;
}

.article-tab {
  border-radius: 8px 0 0 8px;
}

.video-tab {
  border-radius: 0 8px 8px 0;
}

@media (max-width: 576px) {
  #aggregator h1 {
    font-size: 30px;
  }
}
