#wp-school-competition {
  background-image: url("../images/wp-school-competition/school-competition-bg.png");
  background-color: #b4daf4;
  background-position: top center;
  background-size: cover;
  background-repeat: none;
  min-height: 360px;
  max-height: fit-content;
}

.sc-desc {
  width: 75%;
}

.sc-cities-container {
  display: flex;
  width: 100%;

  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
.sc-cities-container a {
  margin-right: 10px;
}

.sc-cities-container::-webkit-scrollbar {
  display: none;
}

.sc-city-image {
  width: 184px;
  height: 184px;
  object-fit: cover;
  border-radius: 20px;
  border: 4px solid #ffffff;
}

@media (max-width: 997px) {
  #wp-school-competition p {
    font-size: 12px;
  }

  .sc-cities-container {
    justify-content: flex-start;
  }
}
