#wp-school-competition {
  background-image: url("../images/wp-school-competition/school-competition-bg.png");
  background-color: #b4daf4;
  background-position: top;
  background-size: cover;
  background-repeat: none;
  min-height: 430px;
}

.sc-desc {
  width: 75%;
}

.sc-cities-container {
  display: flex;
  width: 100%;

  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.sc-city-image {
  max-width: 100%; /* Ensure images do not exceed the container width */
  height: auto; /* Maintain the aspect ratio of the images */
  /* Display images in a row */
  margin-right: 10px; /* Add spacing between images (adjust as needed) */
}

@media (max-width: 997px) {
  #wp-school-competition p {
    font-size: 12px;
  }
}
