footer {
  background-color: #e8f3f2;
  font-family: "montserat-regular";
}

footer p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
}

footer .copy {
  font-size: 10px;
}

.sosmed-logo span {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.005em;
  text-align: center;
}

.copyright-line-separator {
  border-top: solid 1px #d8c270;
}

@media (max-width: 400px) {
  footer img {
    width: 90%;
    height: auto;
  }
}
