<div class="container-fluid footer">
  <div class="container">
    <img class="logo-group" src="assets/images/logo-techconference-nav.png">
    <div class="footer_2column">
      <div>
        <p class="font-regular sg-400">Dengan membawakan tema Collaboration for Innovation bersama dengan International Speaker, Regulator, hingga pelaku bisnis yang bergerak di industri teknologi bersama akan mengupas bagaimana inovasi dan impian para pengembang teknologi untuk perkembangan teknologi Indonesia di masa depan. Selain itu, acara ini menjadi ajang bagi para Startup karena CNBC Indonesia turut memberikan wadah bagi para Startup untuk membangun networking kepada venture capital atau angel investor di Indonesia.</p>
      </div>
      <div class="socmed">
        <a href="https://twitter.com/cnbcindonesia" target="_blank">
          <img src="assets/images/twitter.svg">
        </a>
        <a href="https://www.instagram.com/cnbcindonesia/" target="_blank">
          <img src="assets/images/instagram.svg">
        </a>
        <a href="https://www.facebook.com/cnbcindonesia" target="_blank">
          <img src="assets/images/facebook.svg">
        </a>
      </div>
    </div>
    <div class="navBottom">
      <!-- <a href="#player" class="font-bold">Tentang G20</a>
      <a href="#explore" class="font-bold">Jelajah Indonesia</a>
      <a href="#news-update" class="font-bold">Berita G20 Terkini</a> -->
    </div>
    <div class="copyright font-regular sg-400">
      &copy; 2023 CNBC Indonesia. All rights reserved
    </div>
  </div>
</div>