body {
  height: 100vh;
  background-image: url("../../assets/images/school-competition/bg-school.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: none;
}

#school-content {
  margin-top: 120px;

  .section-container {
    .wrap-content {
      height: 1800px;

      .left-side {
        position: relative;

        .destination {
          position: absolute;
          height: 800px;

          .latarkota {
            position: relative;
            height: 180px;

            img {
              border-radius: 20px;
              width: 100%;
              object-fit: cover;
              height: 300px;
            }

            .wrap-desc {
              position: absolute;
              top: 110px;

              .logo-wrap {
                img {
                  max-width: 267px;
                  height: unset;
                  object-fit: unset;
                }
              }

              .about-destination {
                margin-top: 30px;
                background: #B4DBF5;
                margin-left: 10px;
                margin-right: 10px;
                border-radius: 8px;

                .title {
                  color: #5180A2;
                  height: 100%;
                  padding-top: 10px;
                  padding-bottom: 2px;

                  h4 {
                    font-size: 20px;
                    font-family: "gill-sans-1000", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
                  }

                  .captions {
                    background: #fff;
                    margin: 10px;
                    border-radius: 8px;

                    p {
                      font-size: 12px;
                      line-height: normal;
                      padding: 10px;
                    }
                  }
                }
              }

              .share {}

              .wrap-kategori {
                .kategori {
                  font-size: 14px;
                  font-weight: 500;
                  background: #B4DBF5;
                  border-radius: 8px;
                  text-transform: uppercase;
                  color: #5180A2;
                  padding: 10px 10px;
                  margin: 10px 0;
                }
              }
            }
          }


        }

        #destination.fixed {
          position: fixed;
          top: 0;
          margin-top: 120px;
        }
      }

      .content {
        .wrap {
          .title {}

          .slider-content-1 {
            .swiper {
              border-radius: 8px;

              .swiper-wrapper {
                height: 361px;

                .swiper-slide {
                  img {
                    width: 100%;
                    object-fit: cover;
                    height: auto;
                  }
                }
              }

              .swiper-button-next {}

              .swiper-button-prev {}

              .swiper-pagination {}
            }
          }
        }
      }
    }
  }
}
