body{
  height: 100vh;
  background-image: url("../../assets/images/school-competition/bg-school.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: none;
}

#school-content {
  margin-top: 180px;
  .section-container {
    .wrap-content{
      .left-side{
        .destination{
          .latarkota{
            img{

            }
          }
          .about-destination{
            .title{
              h4{

              }
              .captions{
                p{

                }
              }
            }
          }

          .share{

          }

          .wrap-kategori{
            .kategori{

            }
          }
        }
      }

      .content{
        .wrap{
          .title{

          }
          .slider-content-1{
            h4{

            }
          }
        }
      }
    }
  }
}
