html {
  scroll-padding-top: 200px;
}

body {
  height: 100vh;
  background-image: url("../../assets/images/school-competition/bg-school.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: none;
}

#school-content {
  margin-top: 120px;
  margin-bottom: 120px;

  .section-container {
    .wrap-content {
      height: auto;

      .left-side {
        position: relative;

        .destination {
          position: absolute;
          height: 80vh;
          width: 100%;

          .wrap-destination {
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;

            .latarkota {
              position: relative;
              height: 180px;

              img {
                border-radius: 20px;
                width: 100%;
                object-fit: cover;
                height: 300px;
              }

              .wrap-desc {
                position: absolute;
                top: 110px;

                .logo-wrap {
                  img {
                    max-width: 267px;
                    height: unset;
                    object-fit: unset;
                  }
                }

                .about-destination {
                  margin-top: 30px;
                  background: #b4dbf5;
                  margin-left: 10px;
                  margin-right: 10px;
                  border-radius: 8px;
                  padding: 12px;

                  .title {
                    color: #5180a2;
                    height: 100%;
                    padding-top: 10px;
                    padding-bottom: 2px;

                    h4 {
                      font-size: 20px;
                      font-family: "gill-sans-1000", "Gill Sans MT", Calibri,
                        "Trebuchet MS", sans-serif;
                    }

                    .captions {
                      background: #fff;
                      margin: 10px;
                      border-radius: 8px;
                      margin: 10px 0;

                      p {
                        font-size: 12px;
                        line-height: normal;
                        padding: 10px;
                      }
                    }
                  }
                }

                

                .wrap-kategori {
                //   #sosmed{
                //   position: absolute;
                //   top: 560px;
                //   #social-media-share {
                //     background-color: #dff2ff;
                //     width: fit-content;
                //     padding: 0.5rem 0.4rem 0.5rem 1rem;
                //     gap: 8px;
                //     span {
                //       line-height: 1.4;
                //       color: #274d6e;
                //     }
                //     .share-facebook {
                //       background-image: url(../images/social-media-share/facebook.svg);
                //       transition: 0.2s ease;
                //       width: 24px;
                //       height: 24px;
                //     }
                //     .share-twitter {
                //       background-image: url(../images/social-media-share/twitter.svg);
                //       transition: 0.2s ease;
                //       width: 24px;
                //       height: 24px;
                //     }
                //     .share-telegram {
                //       background-image: url(../images/social-media-share/telegram.svg);
                //       transition: 0.2s ease;
                //       width: 24px;
                //       height: 24px;
                //     }
                //     .share-whatsapp {
                //       background-image: url(../images/social-media-share/whatsapp.svg);
                //       transition: 0.2s ease;
                //       width: 24px;
                //       height: 24px;
                //     }
                //     #copy-link {
                //       cursor: pointer;
                //       img{
                //         border-radius: 20px;
                //         width: 100%;
                //         object-fit: cover;
                //         height: 300px;
                //       }
                //     }
                //     .sosmed-share-logo {
                //       width: 24px;
                //       height: 24px;
                //     }
                //   }
                // }
                  a {
                    text-decoration: none;
                    cursor: pointer;

                    .kategori {
                      font-size: 14px;
                      font-weight: 500;
                      background: #b4dbf5;
                      border-radius: 8px;
                      text-transform: uppercase;
                      color: #5180a2;
                      padding: 10px 10px;
                      margin: 10px 0;
                    }
                  }
                }
              }
            }
          }
        }

        // #destination.fixed {
        //   position: fixed;
        //   top: 0;
        //   margin-top: 120px;
        //   flex: 0 0 auto;
        //   width: 33.33333333%;
        //   display: flex;
        //   max-width: 100%;
        //   padding-right: calc(var(--bs-gutter-x) * .5);
        //   padding-left: calc(var(--bs-gutter-x) * .5);
        // }

        #sosmed{
          position: absolute;
          top: 438px;
          width: 100%;
          #social-media-share{
            margin-left: auto;
            margin-right: auto;
          }
        }
        
      }

      #wrap-kategori {
        position: absolute;
        top: 510px;
        width: 100%;
        height: 100vh;
        a {
          text-decoration: none;
          cursor: pointer;

          .kategori {
            font-size: 14px;
            font-weight: 500;
            background: #b4dbf5;
            border-radius: 8px;
            text-transform: uppercase;
            color: #5180a2;
            padding: 10px 10px;
            margin: 10px 0;
            .box{
              display: flex;
              .box-icon{
                display: inline-block;
                margin-right: 8px;
                img{
                  width: 24px;
                  height: 24px;
                  object-fit: cover;
                }
              }
              span{
                align-self: center;
              }
            }
          }
        }
      }

      #wrap-kategori.fixed {
        position: fixed;
        top: 0;
        margin-top: 120px;
        flex: 0 0 auto;
        width: 100%;
        display: flex;
        max-width: 360px;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
      }

      #sosmed-mobile{
        padding-top: 35px;
        padding-bottom: 8px;
      }

      .kategori-mobile {
        padding-left: calc(var(--bs-gutter-x) * 1.5);
        .wrap-kategori-mobile {
          overflow-x: auto;
          white-space: nowrap;

          .box {
            display: flex;
            float: none;

            a {
              text-decoration: none;
              cursor: pointer;

              .kategori {
                font-size: 14px;
                font-weight: 500;
                background: #b4dbf5;
                border-radius: 8px;
                text-transform: uppercase;
                color: #5180a2;
                padding: 5px 10px;
                margin: 10px 0;
                margin-right: 6px;
                .box{
                  display: flex;
                  .box-icon{
                    display: inline-block;
                    margin-right: 8px;
                    img{
                      width: 24px;
                      height: 24px;
                      object-fit: cover;
                    }
                  }
                  span{
                    align-self: center;
                  }
                }
              }
            }
          }
        }
      }

      .content {
        .wrap {
          .title {
            background: #5180a2;
            color: #fff;
            padding: 10px 10px;
            margin: 10px 0;
            border-radius: 8px;
            text-transform: uppercase;
            .box{
              display: flex;
              .box-icon{
                display: inline-block;
                margin-right: 8px;
                img{
                  width: 24px;
                  height: 24px;
                  object-fit: cover;
                }
              }
              span{
                align-self: center;
              }
            }
          }

          .slider-content-1 {
            .swiper {
              border-radius: 8px;
              height: 322px;

              .swiper-wrapper {
                height: 361px;

                .swiper-slide {
                  img {
                    width: 100%;
                    object-fit: cover;
                    height: auto;
                  }
                }
              }
            }

            .swiper-pagination {
              position: relative;
              margin: 25px 0 20px 0;
              height: 20px;
              text-align: center;
              .swiper-pagination-bullet {
                background: #9a0808;
              }
              .swiper-pagination-bullet-active {
                background: #9a0808;
              }
            }

            .swiper-pagination-2 {
              position: relative;
              margin: 25px 0 20px 0;
              height: 20px;
              text-align: center;
              .swiper-pagination-bullet {
                background: #9a0808;
              }
              .swiper-pagination-bullet-active {
                background: #9a0808;
              }
            }

            .swiper-pagination-3 {
              position: relative;
              margin: 25px 0 20px 0;
              height: 20px;
              text-align: center;
              .swiper-pagination-bullet {
                background: #9a0808;
              }
              .swiper-pagination-bullet-active {
                background: #9a0808;
              }
            }

            .swiper-pagination-4 {
              position: relative;
              margin: 25px 0 20px 0;
              height: 20px;
              text-align: center;
              .swiper-pagination-bullet {
                background: #9a0808;
              }
              .swiper-pagination-bullet-active {
                background: #9a0808;
              }
            }

            .swiper-pagination-5 {
              position: relative;
              margin: 25px 0 20px 0;
              height: 20px;
              text-align: center;
              .swiper-pagination-bullet {
                background: #9a0808;
              }
              .swiper-pagination-bullet-active {
                background: #9a0808;
              }
            }

            .swiper-pagination-6 {
              position: relative;
              margin: 25px 0 20px 0;
              height: 20px;
              text-align: center;
              .swiper-pagination-bullet {
                background: #9a0808;
              }
              .swiper-pagination-bullet-active {
                background: #9a0808;
              }
            }

            .swiper-pagination-7 {
              position: relative;
              margin: 25px 0 20px 0;
              height: 20px;
              text-align: center;
              .swiper-pagination-bullet {
                background: #9a0808;
              }
              .swiper-pagination-bullet-active {
                background: #9a0808;
              }
            }

            .swiper-pagination-8 {
              position: relative;
              margin: 25px 0 20px 0;
              height: 20px;
              text-align: center;
              .swiper-pagination-bullet {
                background: #9a0808;
              }
              .swiper-pagination-bullet-active {
                background: #9a0808;
              }
            }
          }

          
        }
      }
    }
  }

  #content-creation-wrap{
    .slider-content-1 {
      .swiper {
        border-radius: 8px;
        height: 530px;

        .swiper-wrapper {
          height: 361px;

          .swiper-slide {
            img {
              width: 100%;
              object-fit: cover;
              height: auto;
            }

            .instagram-media{
              background: white;
              max-width: 320px !important;
              width: 320px;
              border-radius: 8px !important;
              border: 1px solid rgb(219, 219, 219);
              box-shadow: none;
              display: block;
              margin: 0px 0px 12px;
              min-width: 320px;
              padding: 0px;
              height: 520px;
              margin-left: auto !important;
              margin-right: auto !important;
            }
          }
        }
      }

      .swiper-pagination {
        position: relative;
        margin: 25px 0 20px 0;
        height: 20px;
        text-align: center;
        .swiper-pagination-bullet {
          background: #9a0808;
        }
        .swiper-pagination-bullet-active {
          background: #9a0808;
        }
      }

      .swiper-pagination-2 {
        position: relative;
        margin: 25px 0 20px 0;
        height: 20px;
        text-align: center;
        .swiper-pagination-bullet {
          background: #9a0808;
        }
        .swiper-pagination-bullet-active {
          background: #9a0808;
        }
      }

      .swiper-pagination-3 {
        position: relative;
        margin: 25px 0 20px 0;
        height: 20px;
        text-align: center;
        .swiper-pagination-bullet {
          background: #9a0808;
        }
        .swiper-pagination-bullet-active {
          background: #9a0808;
        }
      }

      .swiper-pagination-4 {
        position: relative;
        margin: 25px 0 20px 0;
        height: 20px;
        text-align: center;
        .swiper-pagination-bullet {
          background: #9a0808;
        }
        .swiper-pagination-bullet-active {
          background: #9a0808;
        }
      }

      .swiper-pagination-5 {
        position: relative;
        margin: 25px 0 20px 0;
        height: 20px;
        text-align: center;
        .swiper-pagination-bullet {
          background: #9a0808;
        }
        .swiper-pagination-bullet-active {
          background: #9a0808;
        }
      }

      .swiper-pagination-6 {
        position: relative;
        margin: 25px 0 20px 0;
        height: 20px;
        text-align: center;
        .swiper-pagination-bullet {
          background: #9a0808;
        }
        .swiper-pagination-bullet-active {
          background: #9a0808;
        }
      }

      .swiper-pagination-7 {
        position: relative;
        margin: 25px 0 20px 0;
        height: 20px;
        text-align: center;
        .swiper-pagination-bullet {
          background: #9a0808;
        }
        .swiper-pagination-bullet-active {
          background: #9a0808;
        }
      }

      .swiper-pagination-8 {
        position: relative;
        margin: 25px 0 20px 0;
        height: 20px;
        text-align: center;
        .swiper-pagination-bullet {
          background: #9a0808;
        }
        .swiper-pagination-bullet-active {
          background: #9a0808;
        }
      }
    }
  }
}

/* Responsive Breakpoint */

//extra small

@media (min-width: 0px) and (max-width: 575px) {
  body {
    height: 100vh;
    background-image: url("../../assets/images/school-competition/bg-school-mobile.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: none;
  }

  #school-content {
    margin-top: unset;
    margin-bottom: 120px;

    .section-container {
      padding: unset;
      .wrap-content {
        height: auto;

        .left-side {
          position: relative;

          .destination {
            position: relative;
            height: 458px;
            width: 100%;

            .wrap-destination {
              height: 100%;
              overflow-x: unset;
              overflow-y: unset;

              .latarkota {
                position: relative;
                height: 180px;

                img {
                  border-radius: 0px;
                  width: 100%;
                  object-fit: cover;
                  height: 400px;
                }

                .wrap-desc {
                  position: absolute;
                  top: 110px;

                  .logo-wrap {
                    img {
                      max-width: 267px;
                      height: unset;
                      object-fit: unset;
                      padding-top: 30px;
                      padding-bottom: 0px;
                    }
                  }

                  .about-destination {
                    margin-top: 70px;
                    background: #b4dbf5;
                    margin-left: 10px;
                    margin-right: 10px;
                    border-radius: 8px;
                    padding: 12px;

                    .title {
                      color: #5180a2;
                      height: 100%;
                      padding-top: 10px;
                      padding-bottom: 2px;

                      h4 {
                        font-size: 20px;
                        font-family: "gill-sans-1000", "Gill Sans MT", Calibri,
                          "Trebuchet MS", sans-serif;
                      }

                      .captions {
                        background: #fff;
                        margin: 10px;
                        border-radius: 8px;
                        margin: 10px 0;

                        p {
                          font-size: 12px;
                          line-height: normal;
                          padding: 10px;
                        }
                      }
                    }
                  }

                  
                }
              }
            }
          }

          // #destination.fixed {
          //   position: fixed;
          //   top: 0;
          //   margin-top: 120px;
          //   flex: 0 0 auto;
          //   width: 33.33333333%;
          //   display: flex;
          //   max-width: 100%;
          //   padding-right: calc(var(--bs-gutter-x) * .5);
          //   padding-left: calc(var(--bs-gutter-x) * .5);
          // }

          #wrap-kategori {
            position: absolute;
            top: 460px;
            a {
              text-decoration: none;
              cursor: pointer;

              .kategori {
                font-size: 14px;
                font-weight: 500;
                background: #b4dbf5;
                border-radius: 8px;
                text-transform: uppercase;
                color: #5180a2;
                padding: 10px 10px;
                margin: 10px 0;
              }
            }
          }

          #wrap-kategori.fixed {
            position: fixed;
            top: 0;
            margin-top: 120px;
            flex: 0 0 auto;
            width: 33.33333333%;
            display: flex;
            max-width: 100%;
            padding-right: calc(var(--bs-gutter-x) * 0.5);
            padding-left: calc(var(--bs-gutter-x) * 0.5);
          }
        }

        .kategori-mobile {
          padding-left: calc(var(--bs-gutter-x) * 1.5);
          .wrap-kategori-mobile {
            overflow-x: auto;
            white-space: nowrap;

            #social-media-share{
              margin-bottom: 1rem !important;
              margin-top: 4rem !important;
            }
  
            .box {
              display: flex;
              float: none;
  
              a {
                text-decoration: none;
                cursor: pointer;
  
                .kategori {
                  font-size: 14px;
                  font-weight: 500;
                  background: #b4dbf5;
                  border-radius: 8px;
                  text-transform: uppercase;
                  color: #5180a2;
                  padding: 5px 10px;
                  margin: 10px 0;
                  margin-right: 6px;
                  .box{
                    display: flex;
                    .box-icon{
                      display: inline-block;
                      margin-right: 8px;
                      img{
                        width: 24px;
                        height: 24px;
                        object-fit: cover;
                      }
                    }
                    span{
                      align-self: center;
                    }
                  }
                }
              }
            }
          }
        }

        .content {
          padding-right: calc(var(--bs-gutter-x) * 1.5);
          padding-left: calc(var(--bs-gutter-x) * 1.5);
          .wrap {
            .title {
              background: #5180a2;
              color: #fff;
              padding: 10px 10px;
              margin: 10px 0;
              border-radius: 8px;
              text-transform: uppercase;
            }

            .slider-content-1 {
              .swiper {
                border-radius: 8px;
                height: 182px;

                .swiper-wrapper {
                  height: 361px;

                  .swiper-slide {
                    img {
                      width: 100%;
                      object-fit: cover;
                      height: auto;
                    }
                  }
                }
              }

              .swiper-pagination {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
              }

              .swiper-pagination-2 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
              }

              .swiper-pagination-3 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
              }

              .swiper-pagination-4 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
              }

              .swiper-pagination-5 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
              }

              .swiper-pagination-6 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
              }

              .swiper-pagination-7 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
              }

              .swiper-pagination-8 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

//small

@media (min-width: 576px) and (max-width: 767px) {
  body {
    height: 100vh;
    background-image: url("../../assets/images/school-competition/bg-school.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: none;
  }

  #school-content {
    margin-top: unset;
    margin-bottom: 120px;

    .section-container {
      padding: unset;
      .wrap-content {
        height: auto;

        .left-side {
          position: relative;

          .destination {
            position: relative;
            height: 388px;
            width: 100%;

            .wrap-destination {
              height: 100%;
              overflow-x: unset;
              overflow-y: unset;

              .latarkota {
                position: relative;
                height: 180px;

                img {
                  border-radius: 0px;
                  width: 100%;
                  object-fit: cover;
                  height: 300px;
                }

                .wrap-desc {
                  position: absolute;
                  top: 110px;

                  .logo-wrap {
                    img {
                      max-width: 267px;
                      height: unset;
                      object-fit: unset;
                      padding-top: 30px;
                      padding-bottom: 0px;
                    }
                  }

                  .about-destination {
                    margin-top: 30px;
                    background: #b4dbf5;
                    margin-left: 10px;
                    margin-right: 10px;
                    border-radius: 8px;
                    padding: 12px;

                    .title {
                      color: #5180a2;
                      height: 100%;
                      padding-top: 10px;
                      padding-bottom: 2px;

                      h4 {
                        font-size: 20px;
                        font-family: "gill-sans-1000", "Gill Sans MT", Calibri,
                          "Trebuchet MS", sans-serif;
                      }

                      .captions {
                        background: #fff;
                        margin: 10px;
                        border-radius: 8px;
                        margin: 10px 0;

                        p {
                          font-size: 12px;
                          line-height: normal;
                          padding: 10px;
                        }
                      }
                    }
                  }

                  
                }
              }
            }
          }

          // #destination.fixed {
          //   position: fixed;
          //   top: 0;
          //   margin-top: 120px;
          //   flex: 0 0 auto;
          //   width: 33.33333333%;
          //   display: flex;
          //   max-width: 100%;
          //   padding-right: calc(var(--bs-gutter-x) * .5);
          //   padding-left: calc(var(--bs-gutter-x) * .5);
          // }

          #wrap-kategori {
            position: absolute;
            top: 460px;
            a {
              text-decoration: none;
              cursor: pointer;

              .kategori {
                font-size: 14px;
                font-weight: 500;
                background: #b4dbf5;
                border-radius: 8px;
                text-transform: uppercase;
                color: #5180a2;
                padding: 10px 10px;
                margin: 10px 0;
              }
            }
          }

          #wrap-kategori.fixed {
            position: fixed;
            top: 0;
            margin-top: 120px;
            flex: 0 0 auto;
            width: 33.33333333%;
            display: flex;
            max-width: 100%;
            padding-right: calc(var(--bs-gutter-x) * 0.5);
            padding-left: calc(var(--bs-gutter-x) * 0.5);
          }
        }

        .content {
          padding-right: calc(var(--bs-gutter-x) * 0.5);
          padding-left: calc(var(--bs-gutter-x) * 0.5);
          .wrap {
            .title {
              background: #5180a2;
              color: #fff;
              padding: 10px 10px;
              margin: 10px 0;
              border-radius: 8px;
              text-transform: uppercase;
            }

            .slider-content-1 {
              .swiper {
                border-radius: 8px;
                height: 182px;

                .swiper-wrapper {
                  height: 361px;

                  .swiper-slide {
                    img {
                      width: 100%;
                      object-fit: cover;
                      height: auto;
                    }
                  }
                }
              }

              .swiper-pagination {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
              }

              .swiper-pagination-2 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
              }

              .swiper-pagination-3 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
              }

              .swiper-pagination-4 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
              }

              .swiper-pagination-5 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
              }

              .swiper-pagination-6 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
              }

              .swiper-pagination-7 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
              }

              .swiper-pagination-8 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

//medium

@media (min-width: 768px) and (max-width: 991px) {
  #school-content {
    margin-top: 120px;
    margin-bottom: 120px;

    .section-container {
      .wrap-content {
        height: auto;

        .left-side {
          position: relative;

          .destination {
            position: absolute;
            height: 502px;
            width: 100%;

            .wrap-destination {
              height: 100%;
              overflow-x: hidden;
              overflow-y: auto;

              .latarkota {
                position: relative;
                height: 180px;

                img {
                  border-radius: 20px;
                  width: 100%;
                  object-fit: cover;
                  height: 300px;
                }

                .wrap-desc {
                  position: absolute;
                  top: 110px;

                  .logo-wrap {
                    img {
                      max-width: 267px;
                      height: unset;
                      object-fit: unset;
                    }
                  }

                  .about-destination {
                    margin-top: 30px;
                    background: #b4dbf5;
                    margin-left: 10px;
                    margin-right: 10px;
                    border-radius: 8px;
                    padding: 12px;

                    .title {
                      color: #5180a2;
                      height: 100%;
                      padding-top: 10px;
                      padding-bottom: 2px;

                      h4 {
                        font-size: 20px;
                        font-family: "gill-sans-1000", "Gill Sans MT", Calibri,
                          "Trebuchet MS", sans-serif;
                      }

                      .captions {
                        background: #fff;
                        margin: 10px;
                        border-radius: 8px;
                        margin: 10px 0;

                        p {
                          font-size: 12px;
                          line-height: normal;
                          padding: 10px;
                        }
                      }
                    }
                  }

                  

                  .wrap-kategori {
                    a {
                      text-decoration: none;
                      cursor: pointer;

                      .kategori {
                        font-size: 14px;
                        font-weight: 500;
                        background: #b4dbf5;
                        border-radius: 8px;
                        text-transform: uppercase;
                        color: #5180a2;
                        padding: 10px 10px;
                        margin: 10px 0;
                      }
                    }
                  }
                }
              }
            }
          }

          // #destination.fixed {
          //   position: fixed;
          //   top: 0;
          //   margin-top: 120px;
          //   flex: 0 0 auto;
          //   width: 33.33333333%;
          //   display: flex;
          //   max-width: 100%;
          //   padding-right: calc(var(--bs-gutter-x) * .5);
          //   padding-left: calc(var(--bs-gutter-x) * .5);
          // }

          #sosmed{
            position: absolute;
            top: 487px;
            width: 100%;
            #social-media-share{
              margin-left: auto;
              margin-right: auto;
            }
          }
        }

        #wrap-kategori {
          position: absolute;
          top: 556px;
          width: 100%;
          height: 100vh;
          a {
            text-decoration: none;
            cursor: pointer;

            .kategori {
              font-size: 14px;
              font-weight: 500;
              background: #b4dbf5;
              border-radius: 8px;
              text-transform: uppercase;
              color: #5180a2;
              padding: 10px 10px;
              margin: 10px 0;
            }
          }
        }

        #wrap-kategori.fixed {
          position: fixed;
          top: 0;
          margin-top: 120px;
          flex: 0 0 auto;
          width: 28%;
          display: flex;
          max-width: 100%;
          padding-right: calc(var(--bs-gutter-x) * 0.5);
          padding-left: calc(var(--bs-gutter-x) * 0.5);
        }

        .kategori-mobile {
          .wrap-kategori-mobile {
            overflow-x: auto;
            white-space: nowrap;

            .box {
              display: flex;
              float: none;

              a {
                text-decoration: none;
                cursor: pointer;

                .kategori {
                  font-size: 14px;
                  font-weight: 500;
                  background: #b4dbf5;
                  border-radius: 8px;
                  text-transform: uppercase;
                  color: #5180a2;
                  padding: 10px 10px;
                  margin: 10px 0;
                }
              }
            }
          }
        }

        .content {
          .wrap {
            .title {
              background: #5180a2;
              color: #fff;
              padding: 10px 10px;
              margin: 10px 0;
              border-radius: 8px;
              text-transform: uppercase;
            }

            .slider-content-1 {
              .swiper {
                border-radius: 8px;
                height: 322px;

                .swiper-wrapper {
                  height: 361px;

                  .swiper-slide {
                    img {
                      width: 100%;
                      object-fit: cover;
                      height: auto;
                    }
                  }
                }
              }

              .swiper-pagination {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
              }

              .swiper-pagination-2 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
              }

              .swiper-pagination-3 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
              }

              .swiper-pagination-4 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
              }

              .swiper-pagination-5 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
              }

              .swiper-pagination-6 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
              }

              .swiper-pagination-7 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
              }

              .swiper-pagination-8 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

// large

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) and (max-width: 2000px) {
  #school-content {
    margin-top: 120px;
    margin-bottom: 120px;
  
    .section-container {
      .wrap-content {
        height: auto;
  
        .left-side {
          position: relative;
  
          .destination {
            position: absolute;
            height: 100vh;
            width: 100%;
  
            .wrap-destination {
              height: 100%;
              overflow-x: hidden;
              overflow-y: auto;
  
              .latarkota {
                position: relative;
                height: 180px;
  
                img {
                  border-radius: 20px;
                  width: 100%;
                  object-fit: cover;
                  height: 300px;
                }
  
                .wrap-desc {
                  position: absolute;
                  top: 110px;
  
                  .logo-wrap {
                    img {
                      max-width: 267px;
                      height: unset;
                      object-fit: unset;
                    }
                  }
  
                  .about-destination {
                    margin-top: 30px;
                    background: #b4dbf5;
                    margin-left: 10px;
                    margin-right: 10px;
                    border-radius: 8px;
                    padding: 12px;
  
                    .title {
                      color: #5180a2;
                      height: 100%;
                      padding-top: 10px;
                      padding-bottom: 2px;
  
                      h4 {
                        font-size: 20px;
                        font-family: "gill-sans-1000", "Gill Sans MT", Calibri,
                          "Trebuchet MS", sans-serif;
                      }
  
                      .captions {
                        background: #fff;
                        margin: 10px;
                        border-radius: 8px;
                        margin: 10px 0;
  
                        p {
                          font-size: 12px;
                          line-height: normal;
                          padding: 10px;
                        }
                      }
                    }
                  }
  
                  
  
                  .wrap-kategori {
                  //   #sosmed{
                  //   position: absolute;
                  //   top: 560px;
                  //   #social-media-share {
                  //     background-color: #dff2ff;
                  //     width: fit-content;
                  //     padding: 0.5rem 0.4rem 0.5rem 1rem;
                  //     gap: 8px;
                  //     span {
                  //       line-height: 1.4;
                  //       color: #274d6e;
                  //     }
                  //     .share-facebook {
                  //       background-image: url(../images/social-media-share/facebook.svg);
                  //       transition: 0.2s ease;
                  //       width: 24px;
                  //       height: 24px;
                  //     }
                  //     .share-twitter {
                  //       background-image: url(../images/social-media-share/twitter.svg);
                  //       transition: 0.2s ease;
                  //       width: 24px;
                  //       height: 24px;
                  //     }
                  //     .share-telegram {
                  //       background-image: url(../images/social-media-share/telegram.svg);
                  //       transition: 0.2s ease;
                  //       width: 24px;
                  //       height: 24px;
                  //     }
                  //     .share-whatsapp {
                  //       background-image: url(../images/social-media-share/whatsapp.svg);
                  //       transition: 0.2s ease;
                  //       width: 24px;
                  //       height: 24px;
                  //     }
                  //     #copy-link {
                  //       cursor: pointer;
                  //       img{
                  //         border-radius: 20px;
                  //         width: 100%;
                  //         object-fit: cover;
                  //         height: 300px;
                  //       }
                  //     }
                  //     .sosmed-share-logo {
                  //       width: 24px;
                  //       height: 24px;
                  //     }
                  //   }
                  // }
                    a {
                      text-decoration: none;
                      cursor: pointer;
  
                      .kategori {
                        font-size: 14px;
                        font-weight: 500;
                        background: #b4dbf5;
                        border-radius: 8px;
                        text-transform: uppercase;
                        color: #5180a2;
                        padding: 10px 10px;
                        margin: 10px 0;
                      }
                    }
                  }
                }
              }
            }
          }
  
          // #destination.fixed {
          //   position: fixed;
          //   top: 0;
          //   margin-top: 120px;
          //   flex: 0 0 auto;
          //   width: 33.33333333%;
          //   display: flex;
          //   max-width: 100%;
          //   padding-right: calc(var(--bs-gutter-x) * .5);
          //   padding-left: calc(var(--bs-gutter-x) * .5);
          // }
  
          #sosmed{
            position: absolute;
            top: 436px;
            width: 100%;
            #social-media-share{
              margin-left: auto;
              margin-right: auto;
            }
          }
          
        }
  
        #wrap-kategori {
          position: absolute;
          top: 510px;
          width: 100%;
          height: 100vh;
          a {
            text-decoration: none;
            cursor: pointer;
  
            .kategori {
              font-size: 14px;
              font-weight: 500;
              background: #b4dbf5;
              border-radius: 8px;
              text-transform: uppercase;
              color: #5180a2;
              padding: 10px 10px;
              margin: 10px 0;
            }
          }
        }
  
        #wrap-kategori.fixed {
          position: fixed;
          top: 0;
          margin-top: 120px;
          flex: 0 0 auto;
          width: 100% !important;
          display: flex;
          max-width: 360px !important;
          padding-right: calc(var(--bs-gutter-x) * 0.5);
          padding-left: calc(var(--bs-gutter-x) * 0.5);
        }
  
        #sosmed-mobile{
          padding-top: 35px;
          padding-bottom: 8px;
        }
  
        .kategori-mobile {
          padding-left: calc(var(--bs-gutter-x) * 1.5);
          .wrap-kategori-mobile {
            overflow-x: auto;
            white-space: nowrap;
  
            .box {
              display: flex;
              float: none;
  
              a {
                text-decoration: none;
                cursor: pointer;
  
                .kategori {
                  font-size: 14px;
                  font-weight: 500;
                  background: #b4dbf5;
                  border-radius: 8px;
                  text-transform: uppercase;
                  color: #5180a2;
                  padding: 10px 10px;
                  margin: 10px 0;
                  margin-right: 6px;
                }
              }
            }
          }
        }
  
        .content {
          .wrap {
            .title {
              background: #5180a2;
              color: #fff;
              padding: 10px 10px;
              margin: 10px 0;
              border-radius: 8px;
              text-transform: uppercase;
            }
  
            .slider-content-1 {
              .swiper {
                border-radius: 8px;
                height: 322px;
  
                .swiper-wrapper {
                  height: 361px;
  
                  .swiper-slide {
                    img {
                      width: 100%;
                      object-fit: cover;
                      height: auto;
                    }

                    .instagram-media{
                      background: white;
                      max-width: 100% !important;
                      width: calc(100% - 2px);
                      border-radius: 8px !important;
                      border: 1px solid rgb(219, 219, 219);
                      box-shadow: none;
                      display: block;
                      margin: 0px 0px 12px;
                      min-width: 326px;
                      padding: 0px;
                      height: 520px;
                    }
                  }
                }
              }
  
              .swiper-pagination {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
                .swiper-pagination-bullet {
                  background: #9a0808;
                }
                .swiper-pagination-bullet-active {
                  background: #9a0808;
                }
              }
  
              .swiper-pagination-2 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
                .swiper-pagination-bullet {
                  background: #9a0808;
                }
                .swiper-pagination-bullet-active {
                  background: #9a0808;
                }
              }
  
              .swiper-pagination-3 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
                .swiper-pagination-bullet {
                  background: #9a0808;
                }
                .swiper-pagination-bullet-active {
                  background: #9a0808;
                }
              }
  
              .swiper-pagination-4 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
                .swiper-pagination-bullet {
                  background: #9a0808;
                }
                .swiper-pagination-bullet-active {
                  background: #9a0808;
                }
              }
  
              .swiper-pagination-5 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
                .swiper-pagination-bullet {
                  background: #9a0808;
                }
                .swiper-pagination-bullet-active {
                  background: #9a0808;
                }
              }
  
              .swiper-pagination-6 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
                .swiper-pagination-bullet {
                  background: #9a0808;
                }
                .swiper-pagination-bullet-active {
                  background: #9a0808;
                }
              }
  
              .swiper-pagination-7 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
                .swiper-pagination-bullet {
                  background: #9a0808;
                }
                .swiper-pagination-bullet-active {
                  background: #9a0808;
                }
              }
  
              .swiper-pagination-8 {
                position: relative;
                margin: 25px 0 20px 0;
                height: 20px;
                text-align: center;
                .swiper-pagination-bullet {
                  background: #9a0808;
                }
                .swiper-pagination-bullet-active {
                  background: #9a0808;
                }
              }
            }
          }

          

        }
      }
    }
  }
}
