/* SWIPER */

.swiper {
  height: 300px;
}

.swiper-slide {
  background-image: url("../images/swiper/swiper-desktop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 576px) {
  /* SWIPER */

  .row {
    --bs-gutter-x: 0;
  }

  .swiper-slide {
    background-image: url("../images/swiper/swiper-mobile.png");
  }
}

.swiper-pagination {
  position: absolute;
  bottom: 20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
}
