body {
  height: 100vh;
  background-image: url("../../assets/images/school-competition/bg-school.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: none;
}

#school-content {
  margin-top: 120px;
}
#school-content .section-container .wrap-content {
  height: 1200px;
}
#school-content .section-container .wrap-content .left-side {
  position: relative;
}
#school-content .section-container .wrap-content .left-side .destination {
  position: absolute;
  height: 800px;
}
#school-content .section-container .wrap-content .left-side .destination .latarkota {
  position: relative;
  height: 180px;
}
#school-content .section-container .wrap-content .left-side .destination .latarkota img {
  border-radius: 20px;
  width: 100%;
  object-fit: cover;
  height: 300px;
}
#school-content .section-container .wrap-content .left-side .destination .latarkota .wrap-desc {
  position: absolute;
  top: 110px;
}
#school-content .section-container .wrap-content .left-side .destination .latarkota .wrap-desc .logo-wrap img {
  max-width: 267px;
  height: unset;
  object-fit: unset;
}
#school-content .section-container .wrap-content .left-side .destination .latarkota .wrap-desc .about-destination {
  margin-top: 30px;
  background: #B4DBF5;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
}
#school-content .section-container .wrap-content .left-side .destination .latarkota .wrap-desc .about-destination .title {
  color: #5180A2;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 2px;
}
#school-content .section-container .wrap-content .left-side .destination .latarkota .wrap-desc .about-destination .title h4 {
  font-size: 20px;
  font-family: "gill-sans-1000", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#school-content .section-container .wrap-content .left-side .destination .latarkota .wrap-desc .about-destination .title .captions {
  background: #fff;
  margin: 10px;
  border-radius: 8px;
}
#school-content .section-container .wrap-content .left-side .destination .latarkota .wrap-desc .about-destination .title .captions p {
  font-size: 12px;
  line-height: normal;
  padding: 10px;
}
#school-content .section-container .wrap-content .left-side .destination .wrap-kategori .kategori {
  font-size: 14px;
}
#school-content .section-container .wrap-content .left-side #destination.fixed {
  position: fixed;
  top: 0;
  margin-top: 120px;
}