body {
  height: 100vh;
  background-image: url("../../assets/images/school-competition/bg-school.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: none;
}

#school-content {
  margin-top: 180px;
}